<aside class="sidebar">
    <section class="recent-posts">
        <h3 class="recent-posts-title">recent posts</h3>
        <article class="post">
            <div class="post-image-container">
                <img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/2.jpg" alt="Lorem Ipsum now">
            </div>
            <div class="post-content">
                <time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:36am">
                    June 14, 2015
                </time>
                <h4 class="post-title"><a href="#0">Lorem Ipsum now</a></h4>
            </div>
        </article>
        <article class="post">
            <div class="post-image-container">
                <img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt="Lorem Ipsum dolor avaliable">
            </div>
            <div class="post-content">
                <time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:57am">
                    June 14, 2015
                </time>
                <h4 class="post-title"><a href="#0">Lorem Ipsum dolor avaliable</a></h4>
            </div>
        </article>
        <article class="post">
            <div class="post-image-container">
                <img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="Lorem Ipsum avaliable right now">
            </div>
            <div class="post-content">
                <time class="time" datetime="2015-06-14" title="June 14, 2015 at 11:44am">
                    June 14, 2015
                </time>
                <h4 class="post-title"><a href="#0">Lorem Ipsum avaliable right now</a></h4>
            </div>
        </article>
        <article class="post">
            <div class="post-image-container">
                <img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt="Lorem Ipsum avaliable right now">
            </div>
            <div class="post-content">
                <time class="time" datetime="2015-06-14" title="June 14, 2015 at 00:13am">
                    June 14, 2015
                </time>
                <h4 class="post-title"><a href="#0">Lorem Ipsum avaliable right now</a></h4>
            </div>
        </article>
        <article class="post">
            <div class="post-image-container">
                <img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="Lorem Ipsum avaliable right now">
            </div>
            <div class="post-content">
                <time class="time" datetime="2015-06-14" title="June 14, 2015 at 8:55pm">
                    June 14, 2015
                </time>
                <h4 class="post-title"><a href="#0">Lorem Ipsum avaliable right now</a></h4>
            </div>
        </article>
    </section>
    <form class="search-form">
        <input class="field" type="search" placeholder="Search..." required>
        <button class="search-button" type="submit">
            <img class="src-img" src="https://netology-code.github.io/html-2-diploma/sources/images/search.svg" alt="loupe">
        </button>
    </form>
    <section class="newsletter">
        <h3 class="newsletter-title">newsletter</h3>
        <form class="newsletter-form">
            <input class="field" type="email" placeholder="Your email adress" required>
            <button class="subscribe-button">
                subscribe
            </button>
        </form>
    </section>
    <section class="tag-section">
        <h3 class="tag-section-title">tags</h3>
        <div class="tag-section-wrapper">
            <ul class="tag-section-list">

                    <li class="tag-section-list-item"><a href="#0">Sport</a></li>
                    <li class="tag-section-list-item"><a href="#0">Parties</a></li>
                    <li class="tag-section-list-item"><a href="#0">Travel</a></li>
                    <li class="tag-section-list-item"><a href="#0">People</a></li>
                    <li class="tag-section-list-item"><a href="#0">Activity</a></li>

            </ul>
        </div>
    </section>
    <section class="categories">
        <h3 class="categories-title">categories</h3>
        <ul class="categories-list">
            <li class="categories-list-item"><a href="#0">snowboard</a><span class="categories-list-item-number">12</span></li>
            <li class="categories-list-item"><a href="#0">health</a><span class="categories-list-item-number">4</span></li>
            <li class="categories-list-item"><a href="#0">lifestyle</a><span class="categories-list-item-number">145</span></li>
            <li class="categories-list-item"><a href="#0">music</a><span class="categories-list-item-number">28</span></li>
        </ul>
    </section>
</aside>






