{% extends 'index.html' %}

{% block content %}
    <div>
        <p class="enter_login">Please enter your email and password!</p>
        {% if error %}
            <p class="incorrect_email">Password or username is incorrect!</p>
        {% endif %}
        <form action="/login" method="post">
            {% csrf_token %}
            <input class="login"  name="username" type="text" placeholder="username">
            <input class="login" name="password" type="password" placeholder="password">
            <input class="submit-btn" type="submit" value="Submit">
        </form>

    </div>

{% endblock %}
