{% extends 'index.html' %}


{% block content %}
    <div class="card form">
        <form method="POST" action="/register">
            {% csrf_token %}
            <div class="recent-posts-title">
                <h3>Registration form:</h3>
            </div>
            {%for field in form%}
                <input class="{{field.id_for_label}}" type="{{field.html_name}}"
                       name="{{field.html_name}}" placeholder="{{field.label}}">
            {%endfor%}
            <input class="submit-btn" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}