{%load static%}


<header class="header">
		<div class="header-content">
			<div class="header-menu">
				<img class="logo" src="{% static "image/logo.png" %}" alt="Stones along the river" >
				<nav class="menu">
					<ul class="menu-list">
						<li class="menu-list-item"><a href="/" class="menu-link">home</a></li>
						<li class="menu-list-item"><a href="/posts" class="menu-link">news</a></li>
						<li class="menu-list-item"><a href="#0" class="menu-link">posttypes</a></li>
						<li class="menu-list-item"><a href="#0" class="menu-link">pages</a></li>
						<li class="menu-list-item"><a href="#0" class="menu-link">catagories</a></li>
						<li class="menu-list-item">
							{% if user.is_authenticated %}
								<span class="activaited-user">
									Hello, {{ user }}!
								</span>
        						<a href="/logout" class="menu-link">
            						Logout
        						</a>
    						{% else %}
        						<a href="/register" class="menu-link">
            						Register
								</a>
								<li class="menu-list-item">
        							<a href="/login" class="menu-link">
										Login
        							</a>
								</li>
    						{% endif %}
						</li>
					</ul>
				</nav>
			</div>
			<h1 class="header-title">last news about snowboarding, parties, lifestyle and more</h1>
		</div>
</header>