

<!DOCTYPE html>
{% load static %}


<html>
<head>
	<title>snowboard world tour</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
	<body>
		{%include 'header.html'%}
		{% block content %}
			<main class="body">
				<div class="body-content">
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="Barbecue party tips for a truly amazing event">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">Barbecue party tips for a truly amazing event</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:36am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="The principles of scientific cooking">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">The principles of scientific cooking</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:57am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									If you're shy about going out alone, bring a book or a journal at first, and take small steps to get comfortable with the feelings.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 10:15am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 10:32am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Concidering how long the human race existed before online dating, it looks like meeting people in real life was really working for them.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
										<li class="tag-list-item"><a href="#0">lifestyle</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 10:54am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">travel</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 11:06am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Concidering how long the human race existed before online dating, it looks like meeting people in real life was really working for them.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 00:02pm">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
				</div>
				{%include 'side bar.html'%}
			</main>
		{% endblock %}
			<footer class="footer">
				<address class="socials">
					<ul class="socials-list">
						<li class="socials-list-item">
							<a class="social-link socials-item-twitter" href="#0">
								<span class="social-link-text">
									twitter
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-pinterest" href="#0">
								<span class="social-link-text">
									pinterest
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-facebook" href="#0">
								<span class="social-link-text">
									facebook
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-instagram" href="#0">
								<span class="social-link-text">
									instagram
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-tumblr" href="#0">
								<span class="social-link-text">
									tumblr
								</span>
							</a>
						</li>
					</ul>
				</address>
				<div class="copyright">
					<a href="#0"> Copyright © 2009-2016 City Blog LLC.</a>
				</div>
			</footer>
	</body>
</html>