

<!DOCTYPE html>
{% load static %}


<html>
<head>
	<title>snowboard world tour</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
	<body>
	{%include 'header.html'%}
		{% block content %}
			<main class="body">
				<div class="body-content">
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg" alt="Barbecue party tips for a truly amazing event">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">Barbecue party tips for a truly amazing event</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:36am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post2.jpg" alt="The principles of scientific cooking">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">The principles of scientific cooking</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:57am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									If you're shy about going out alone, bring a book or a journal at first, and take small steps to get comfortable with the feelings.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post3.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 10:15am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 10:32am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Concidering how long the human race existed before online dating, it looks like meeting people in real life was really working for them.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post5.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
										<li class="tag-list-item"><a href="#0">lifestyle</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 10:54am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post6.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">travel</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 11:06am">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Concidering how long the human race existed before online dating, it looks like meeting people in real life was really working for them.
								</p>
							</div>
						</div>
					</article>
					<article class="article">
						<div class="article-image-container">
							<img class="article-image" src="https://netology-code.github.io/html-2-diploma/sources/images/last-post4.jpg" alt="How to meet that special someone">
						</div>
						<div class="article-content">
							<header class="article-header">
								<div class="tag">
									<ul class="tag-list">
										<li class="tag-list-item"><a href="#0">art</a></li>
									</ul>
								</div>
								<h2 class="article-title"><a href="#0">How to meet that special someone</a></h2>
								<div class="extra">
									<time class="time" datetime="2015-06-14" title="June 14, 2015 at 00:02pm">
										June 14, 2015
									</time>
									<div class="author">
										by Author Doe
									</div>
								</div>
							</header>
							<div class="article-description">
								<p>
									Once upon a time, in an age before the Internet, the only way to meet people was to leave your home and interact with humanity.
								</p>
							</div>
						</div>
					</article>
					</div>
				<aside class="sidebar">
					<section class="recent-posts">
						<h3 class="recent-posts-title">recent posts</h3>
						<article class="post">
							<div class="post-image-container">
								<img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/2.jpg" alt="Lorem Ipsum now">
							</div>
							<div class="post-content">
								<time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:36am">
									June 14, 2015
								</time>
								<h4 class="post-title"><a href="#0">Lorem Ipsum now</a></h4>
							</div>
						</article>
						<article class="post">
							<div class="post-image-container">
								<img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/151.jpg" alt="Lorem Ipsum dolor avaliable">
							</div>
							<div class="post-content">
								<time class="time" datetime="2015-06-14" title="June 14, 2015 at 9:57am">
									June 14, 2015
								</time>
								<h4 class="post-title"><a href="#0">Lorem Ipsum dolor avaliable</a></h4>
							</div>
						</article>
						<article class="post">
							<div class="post-image-container">
								<img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/45.jpg" alt="Lorem Ipsum avaliable right now">
							</div>
							<div class="post-content">
								<time class="time" datetime="2015-06-14" title="June 14, 2015 at 11:44am">
									June 14, 2015
								</time>
								<h4 class="post-title"><a href="#0">Lorem Ipsum avaliable right now</a></h4>
							</div>
						</article>
						<article class="post">
							<div class="post-image-container">
								<img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/501.jpg" alt="Lorem Ipsum avaliable right now">
							</div>
							<div class="post-content">
								<time class="time" datetime="2015-06-14" title="June 14, 2015 at 00:13am">
									June 14, 2015
								</time>
								<h4 class="post-title"><a href="#0">Lorem Ipsum avaliable right now</a></h4>
							</div>
						</article>
						<article class="post">
							<div class="post-image-container">
								<img class="post-image" src="https://netology-code.github.io/html-2-diploma/sources/images/7.jpg" alt="Lorem Ipsum avaliable right now">
							</div>
							<div class="post-content">
								<time class="time" datetime="2015-06-14" title="June 14, 2015 at 8:55pm">
									June 14, 2015
								</time>
								<h4 class="post-title"><a href="#0">Lorem Ipsum avaliable right now</a></h4>
							</div>
						</article>
					</section>
					<form class="search-form">
						<input class="field" type="search" placeholder="Search..." required>
						<button class="search-button" type="submit">
							<img class="src-img" src="https://netology-code.github.io/html-2-diploma/sources/images/search.svg" alt="loupe">
						</button>
					</form>
					<section class="newsletter">
						<h3 class="newsletter-title">newsletter</h3>
						<form class="newsletter-form">
							<input class="field" type="email" placeholder="Your email adress" required>
							<button class="subscribe-button">
							  subscribe
							</button>
						</form>
					</section>
					<section class="tag-section">
						<h3 class="tag-section-title">tags</h3>
						<div class="tag-section-wrapper">
							<ul class="tag-section-list">
					  <li class="tag-section-list-item"><a href="#0">fashion</a></li>
								<li class="tag-section-list-item"><a href="#0">music</a></li>
								<li class="tag-section-list-item"><a href="#0">lorem tag</a></li>
								<li class="tag-section-list-item"><a href="#0">tag</a></li>
								<li class="tag-section-list-item"><a href="#0">ipsum tag</a></li>
								<li class="tag-section-list-item"><a href="#0">travel</a></li>
								<li class="tag-section-list-item"><a href="#0">fashion</a></li>
								<li class="tag-section-list-item"><a href="#0">music</a></li>
							</ul>
						</div>
					</section>
					<section class="categories">
						<h3 class="categories-title">categories</h3>
						<ul class="categories-list">
							<li class="categories-list-item"><a href="#0">beauty</a><span class="categories-list-item-number">12</span></li>
							<li class="categories-list-item"><a href="#0">health</a><span class="categories-list-item-number">4</span></li>
							<li class="categories-list-item"><a href="#0">lifestyle</a><span class="categories-list-item-number">145</span></li>
							<li class="categories-list-item"><a href="#0">music</a><span class="categories-list-item-number">28</span></li>
							<li class="categories-list-item"><a href="#0">sport</a><span class="categories-list-item-number">62</span></li>
							<li class="categories-list-item"><a href="#0">yoga</a><span class="categories-list-item-number">8</span></li>
						</ul>
					</section>
				</aside>
			</main>
		{% endblock %}
			<footer class="footer">
				<address class="socials">
					<ul class="socials-list">
						<li class="socials-list-item">
							<a class="social-link socials-item-twitter" href="#0">
								<span class="social-link-text">
									twitter
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-pinterest" href="#0">
								<span class="social-link-text">
									pinterest
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-facebook" href="#0">
								<span class="social-link-text">
									facebook
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-instagram" href="#0">
								<span class="social-link-text">
									instagram
								</span>
							</a>
						</li>
						<li class="socials-list-item">
							<a class="social-link socials-item-tumblr" href="#0">
								<span class="social-link-text">
									tumblr
								</span>
							</a>
						</li>
					</ul>
				</address>
				<div class="copyright">
					<a href="#0"> Copyright © 2009-2016 City Blog LLC.</a>
				</div>
			</footer>
	</body>
</html>